*
{ margin:0;
  padding: 0;
}
header
{
  background-image: url(bg/home.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.main-nav
{
  float: right ;
  list-style: none;
  margin-top: 20px;
  text-align: justify;
  position: sticky;

}
.main-nav li
{
  display: inline-block;
  font-size: 25px;
}
.main-nav li a
{
  color: black;
  text-decoration: none;
  padding: 5px 20px;
  font-family: "Roboto", sans-serif;
  font-size: 26px;
}

.main-nav li.active a
{
  boder: 1px solid white;
  font-size: 26px;

}
.main-nav li a:hover
{
  border: 1px solid red;
  background-color: white;
}

.row
{
max-width: 1200px;
margin: auto;
}

.hero  h1
{
  color: black;
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
}
.hero
{
  position: absolute;
  width: 1200px;
  margin-left: 0px;
  margin-top: 125px;

}
#About, h1 {
    text-align: center;
    color: blue;
    font-size: 30px;
    font-family: italic;
  }
  p{
    color: white;
    text-align: center;
    background-size: cover;
    color: black;
    font-size:20px;
  }
#about
{
  background-color: pink;
  background-image: url(bg/about.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  text-align: center;

}
.row img{
  /* float: right; */
}
img{
  /* float: right; */
}
#about, ul, li{
  list-style:none;
  font-size: 16px;
}
h2{font-size: 40px;
text-align: left;
margin-left: 0;
padding: 0:
}

.active{
  font-size: 25px;
  text-align: center;
  color: white;
}

h3{
  color: pink;
}
h3{
  font-size: 40px;
  text-align: center;
  margin-left: 0;
  padding: 0:
}
#contact{

  margin: 0px;
  padding: 0;
background-color: gray;
background-size: cover;
font-size: 110%;
}
.contact-form {
  width: 85%;
  max-width: 600px;
  background: gray;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
padding: 30px 40px;
box-sizing: border-box;
border-radius: 8px;
font-family: "montserrat",sans-serif;
text-align: center;
box-shadow: 0 0 20px #000000b3:

  }
  .contact-form h1{
    color: white;
    margin-top: 0;
    font-weight: 200;
  }
.text{
  border:1px solid gray;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
}
.txtb label{
  display: block;
  text-align: left;
  color: white;
  text-transform: uppercase;
  font-size: 14px;

}
#findout{
  background-image: url(bg/baby.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;#findout{
  background-image: url(bg/baby.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  text-align: center;
  width: 100px;
  margin-left: 0px;
  margin-top: 500px;
  color: black;
  font-size: 5px;
}
#findout, h3{
  text-align: center;
  text-align: center;
  width: 1284px;
  margin-left: 0px;
  margin-top: 0px;
  color: black;
  font-size: 5px;
  height: auto;

}
.cont{
  text-align: center;
}
#findout{
  font-size: 7px;
}
#contact >.txtb{
  font-size: 5px;
}
 img{
  height:370px;
  width:450px;
  float: inherit;
  margin-right: 10%;
}
,main.js6
{
  margin-top: 10%;
}
